@model OrderUser

@{
    ViewData["Title"] = "Summary";
}


<h3>Order Summary</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Request Number: 4512212</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <h3>Your Data</h3>
                <div>@(Model.Name)</div>
                <div>@(Model.PhoneNumber)</div>
            </div>
            
            <div class="col-md-3">
                <span>@(Model.Email)/span>
            </div>
            <div class="col-md-6">
                <h3>Delivery Address</h3>
                <h3>@(Model.Address) @(Model.Complement) - @(Model.Neighborhood) - @(Model.City) - @(Model.UF)</h3>
            </div>
            
        </div>
        <hr>

        <div class="row">
                <div class="col-md-10">
                    <h3>Item</h3>
                </div>
                <div class="col-md-2">
                    <h3>Quantity</h3>
                </div>
            </div>

        @foreach(var Item in Model.Orders){
            <div class="row">
                <div class="col-md-10">
                    <div>@(Item.Product.Name)</div> 
                </div>
                <div class="col-md-2">
                    <div class="pull-right">@(Item.Quantity)</div> 
                </div>
            </div>
        }
    </div>
</div>